<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 style="color: rgb(6, 6, 139); text-align: center;">WELCOME TO THE HOME PAGE</h1>
    <h2 style="padding: 20px; text-align: center;color: rgb(70, 70, 245);">This is actually a task given by BROTOTYPE in week 4.</h2>
    <h3 style="text-align: center;color:rgb(128, 128, 187) ;">Press the Log Out button </h3>

 <form  action="/logout" method="get">
       <button type="btn" style=" height: 40px;width: 180px; margin-left: 570px; background-color: black;color: white;border-radius:5px; ">Log Out</button>
  </form>
</body>
</html>